@charset="utf-8";
*{
	margin:0;
	padding: 0;
}
ul,li{
	list-style: none;
}
body {
	width: 100%;
	height:100%;
	background: #000;
	/* overflow: hidden; */
}
.containor{
	position: relative;
	width: 100%;
	height:100%;
	overflow: hidden;
}
.containor ul {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.containor ul li{
	display: inline-block;
	width: 100%;
	height:100%;
	float: left;
}
.containor ul li a  img {
	display: block;
	width: 100%;
	height: 100%;
}